.spinner-container {
  $background-color: var(--background-color);

  background-color: rgba($color: #aec8a4, $alpha: 0.5);
  height: 100vh;
  position: fixed;
  width: 100vw;
  top: 0;
  justify-content: center;
  align-items: center;

  &.visible {
    display: flex;
  }
  &.hidden {
    display: none;
  }
}
