.landing-container {
  $primary-color: var(--primary-color);

  padding: 10pt;

  .landing-text {
    font-size: 20pt;
    font-weight: 700;
    color: $primary-color;
    opacity: 0.8;
  }

  .teams-container {
    display: flex;
    gap: 15pt;
    justify-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }
}
